/* FloodFill styles */

.color0 {
    background-color: blue;
}

.color1 {
    background-color: red;
}

.color2 {
    background-color: green;
}

.color3 {
    background-color: cyan;
}

.color4 {
    background-color: magenta;
}



/* 2048 styles */

.game2048 {
    width: 400px;
}

.game2048 .field {
    border-collapse: separate;
    border-spacing: 10px;
    border-radius: 6px;
    background-color: rgb(187, 173, 160);
}

.game2048 .field td {
    background-color: rgba(238, 228, 218, 0.35)
}

.tile-2 {
    background: #eee4da;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}

.tile-4 {
    background: #ede0c8;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}

.tile-8 {
    color: #f9f6f2;
    background: #f2b179;
}

.tile-16 {
    color: #f9f6f2;
    background: #f59563;
}

.tile-32 {
    color: #f9f6f2;
    background: #f67c5f;
}

.tile-64 {
    color: #f9f6f2;
    background: #f65e3b;
}

.tile-128 {
    color: #f9f6f2;
    background: #edcf72;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    font-size: 45px;
}

.tile-256 {
    color: #f9f6f2;
    background: #edcc61;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    font-size: 45px;
}

.tile-512 {
    color: #f9f6f2;
    background: #edc850;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    font-size: 45px;
}

.tile-1024 {
    color: #f9f6f2;
    background: #edc53f;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    font-size: 35px;
}

.tile-2048 {
    color: #f9f6f2;
    background: #edc22e;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 35px;
}

/* Sokoban styles */

.sokoban .field td {
    background-color: #534741;
}

.wall {
    background-image: url(images/bricks.png)
}

.player {
    background-image: url(images/unicorn.svg)
}

.box {
    background-image: url(images/package.svg)
}

.target {
    background-image: radial-gradient(#9000ff 0, #9000ff 15%, transparent 17%, transparent 100%)
}

.boxOnTarget {
    background-image: url(images/package.svg);
    filter: brightness(50%);
}
